@font-face {
	font-family: 'Arizona Flare Light';
	src: url('/fonts/ABCArizonaFlare-Light.otf') format('opentype');
	font-display: swap;
}

@font-face {
	font-family: 'Graphik Bold';
	src: url('/fonts/Graphik-Bold.otf') format('opentype');
	font-display: swap;
}